<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.local.mappers.freeBoardMapper">
	
	<!-- 게시판 글쓰기 -->
	<insert id="create">
		insert into t_board (b_num, b_title, b_content, b_writer)
		values (seq_b_num.nextval, #{b_title}, #{b_content}, #{b_writer})
	</insert>
					
	<!-- 게시판 글 상세보기 -->
	<select id="read" resultType="FreeBoardVo">
		select * from t_board
		where b_num = #{b_num}
	</select>
		
	<!-- 게시판 글 수정하기 -->
	<update id="modify">
		update t_board set
			b_title = #{b_title},
			b_content = #{b_content}
		where b_num = #{b_num}
	</update>	
	
	<!-- 게시판 글 삭제 -->
	<delete id="delete">
		delete from t_board
		where b_num = #{b_num}
	</delete>
	
	<!-- 게시판 전체 글 갯수 -->
	<select id="totalCount" resultType="int">
		select count(*) from t_board
		<include refid="search"></include>
	</select>
	
	<!-- 게시판 전체리스트보기 -->
	<select id="listAll" resultType="FreeBoardVo">
		select *
		from (select rownum rnum, a.*
			  from (select * from t_board
			  
			  		<include refid="search"></include>
			   
					order by b_num desc) a)
		where rnum &gt;= #{startRow} and rnum &lt;= #{endRow}
	</select>
	
	<!-- 검색 정의 -->
	<sql id="search">
		<if test="searchType != null">
  			<choose>
  				<when test="searchType == 'title'">
  					where b_title like '%' || #{keyword} || '%'
  				</when>
  				<when test="searchType == 'content'">
  					where b_content like '%' || #{keyword} || '%'
  				</when>
  				<when test="searchType == 'writer'">
  					where b_writer like '%' || #{keyword} || '%'
  				</when>
  			</choose>
  		</if>
	</sql>
	
</mapper>  
