<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.local.mappers.markMapper">

	<!-- 리플 쓰기 -->
	<insert id="markCreate">
		insert into t_mark (m_id, s_id, mem_id, m_point,
		m_detail)
		values (seq_m_id.nextval, #{s_id}, #{mem_id}, #{m_point},
		#{m_detail})
	</insert>

	<!-- 리플 보기 -->
	<select id="markListAll" resultType="MarkVo">
		select *
		from t_mark t, t_member m
		where t.mem_id = m.mem_id
		and s_id = #{s_id}
		order by m_id asc
	</select>

	<!-- 리플 수정 -->
	<update id="markModify">

	</update>

	<!-- 리플 삭제 -->
	<delete id="markDelete">
		delete from t_mark
		where m_id = #{m_id}
	</delete>

	<!-- 평점 갯수 -->
	<select id="totalMark" resultType="int">
		select count(*) from t_mark  
		where s_id = #{s_id}
	</select>
	<!-- 평점 평균 -->
	<select id="avgMark" resultType="double">
		select avg(m_point) from t_mark
        where s_id = #{s_id}
	</select>


</mapper>  
