<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.local.mappers.ReplyMapper">
	
	<!-- 리플 쓰기 -->
	<insert id="replyCreate">
		insert into t_reply (r_num, b_num, r_writer, r_content)
		values (seq_r_num.nextval, #{b_num}, #{r_writer}, #{r_content})
	</insert>
	
	<!-- 리플 보기 -->
	<select id="replyListAll">
		select * from t_reply
		order by r_num;
	</select>
	
	<!-- 리플 수정 -->
	<update id="replyModify">
	
	</update>
	
	<!-- 리플 삭제 -->
	<delete id="replyDelete">
	
	</delete>
		
		
</mapper>  
