<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.local.mappers.replyMapper">
	
	<!-- 리플 쓰기 -->
	<insert id="replyCreate">
		insert into t_reply (r_num, b_num, r_writer, r_content)
		values (seq_r_num.nextval, #{b_num}, #{r_writer}, #{r_content})
	</insert>
	
	<!-- 리플 보기 -->
	<select id="replyListAll" resultType="ReplyVo">
		select * from t_reply
		where b_num = #{b_num}
		order by r_num
	</select>
	
	<!-- 리플 수정 -->
	<update id="replyModify">
		update t_reply set
			r_content = #{r_content},
			r_update = sysdate
		where r_num = #{r_num}
	</update>
	
	<!-- 리플 삭제 -->
	<delete id="replyDelete">
		delete from t_reply
		where r_num = #{r_num}
	</delete>
	
	<!-- 게시판 글 삭제하기전 먼저 리플 삭제하기위해 만듬 (한번에 리플삭제) -->
	<delete id="replyDeleteByb_num">
		delete from t_reply
		where b_num = #{b_num}
	</delete>
	
	
	
	
		
		
</mapper>  
